<div class="mis-asistencias-page">

  <header class="topbar">

    <div class="header-left">

      <button
        type="button"
        class="back-button"
        (click)="volverInicio()"
      >
        ←
      </button>

      <img
        src="/Logo_GymFlow.png"
        alt="GymFlow"
        class="logo"
      />

    </div>

  </header>


  <main class="content">

    <section class="page-header">

      <p class="section-label">
        Cliente
      </p>

      <h1>
        Mis Asistencias
      </h1>

      <p class="subtitle">
        Consulta tus registros de entrada al gimnasio.
      </p>

    </section>


    <section class="history-section">

      <h2>
        Historial de asistencias
      </h2>

      <p class="section-description">
        Aquí puedes revisar tus entradas registradas.
      </p>


      <div
        *ngIf="cargando"
        class="loading-state"
      >
        Cargando asistencias...
      </div>


      <div
        *ngIf="error"
        class="message error-message"
      >
        {{ error }}
      </div>


      <div
        *ngIf="
          !cargando &&
          !error &&
          asistencias.length === 0
        "
        class="empty-state"
      >
        Aún no tienes asistencias registradas.
      </div>


      <div
        *ngIf="asistencias.length > 0"
        class="results"
      >

        <p class="results-count">
          Asistencias registradas:
          {{ asistencias.length }}
        </p>


        <div
          class="attendance-card"
          *ngFor="let asistencia of asistencias"
        >

          <span class="attendance-label">
            Asistencia #{{ asistencia.idAsistencia }}
          </span>


          <div class="attendance-row">

            <span>
              Fecha
            </span>

            <strong>
              {{ formatearFecha(asistencia.fechaHora) }}
            </strong>

          </div>


          <div class="attendance-row">

            <span>
              Hora
            </span>

            <strong>
              {{ formatearHora(asistencia.fechaHora) }}
            </strong>

          </div>


          <div class="attendance-row">

            <span>
              Estado
            </span>

            <strong>
              {{ asistencia.estadoAcceso }}
            </strong>

          </div>

        </div>

      </div>

    </section>

  </main>

</div>